hr {
    margin: 0;
}


    .rodapé__titulo-segundo {
        font-family: var(--fonte-secundaria);
        font-weight: 500;
        font-size: 50px;
        color: var(--preto);
        padding: 2em 1em 2em 2em;
        text-align: center;
    }
    



@media screen and (max-width: 890px) {
    .rodapé__titulo-segundo {
        font-size: 35px;
        font-weight: 100px;
    }

}